{% extends 'estacionamiento/estacionamiento_menu.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    {% block extra_css %}    
    {% endblock extra_css %}    
    <header class='mb-5'>
        <h2 class='h2 medium text-blue'>Visitas</h2>
        <div class="d-flex flex-column flex-lg-row mt-2">
            <p class='body--normal text-gray'>
                
                <h3>La cantidad de visitas es {{h_count}} </h3>
    
            </p>
        </div>
    </header>
    <div class="d-flex flex-column flex-lg-row my-5">
        <div class="my-auto d-flex flex-column flex-lg-row ms-lg-auto">
            <div class="feedback body--small normal"></div>
        </div>
        <form method="post" action="" class='col-12 col-lg-6 input-container-search my-auto me-3'>
            {% csrf_token %}
            <input name="search" id="search" type="text" placeholder='Buscar...'/>
        <form>       
    </div>
    <div class="table-container mt-5">
        <table class="table table-user">
            <thead>
                <tr class="text-center">
                    <th width="4%" scope="col">ID</th>
                    <th width="10%" scope="col">Nombre</th>
                    <th width="10%" scope="col">Sucursal</th>
                    <th width="15%" scope="col">Estacionamiento</th>
                    <th width="5%" scope="col">Piso</th>
                    <th width="10%" scope="col">Vehiculo</th>
                    <th width="10%" scope="col">Matricula</th>
                    <th width="10%" scope="col">Lugar</th>
                    <th width="30%" scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for h in h_list_paginate %}
                    <tr class="text-center">
                        <td>{{h.id}}</td>
                        <td>{{h.nombre}}</td>
                        <td>{{h.sucursal}}</td>
                        <td>{{h.estacionamiento}}</td>
                        <td>{{h.piso}}</td>
                        <td>{{h.vehiculo}}</td>
                        <td>{{h.matricula}}</td>
                        <td>{{h.parking}}</td>

                        <td width="18%">
                            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#Mimodal">ver</button> 
                            <a class="btn btn-success" href="{%url 'visita_visita_update_list' h.id %}">Editar</a>
                            <a class="btn btn-danger" href="{% url 'visita_visita_delete_list' h.id %}">Eliminar</a>

                        </td>
                    </tr>
                {% endfor %}
            <!-- Modal -->
            {% for h in h_list_paginate %}
            <div class="modal fade" id="Mimodal" tabindex="-1" aria-labelledby="MimodalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="MimodalLabel">FICHA</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            
                            <li>Nombre: {{h.nombre}}</li>
                            <li>Correo : {{h.correo}}</li>
                            <li>Telefono : {{h.telefono}}</li>
                            <li>Vehiculo : {{h.vehiculo}}</li>
                            <li>Matricula : {{h.matricula}}</li>
                            <li>Parking : {{h.parking}}</li>
                            <li>Sucursal : {{h.sucursal}}</li>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            <a  type="submit" href="" class="btn btn-danger">Borrar</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
                
            </tbody>
        </table>
        <!-- Paginación -->
            {% if paginator.num_pages > 1 %}
                <div class="d-flex">
                    <nav aria-label="Page navigation example" class="ms-auto">
                        <ul class="pagination pagination-table">
                            {% if h_list_paginate.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ h_list_paginate.previous_page_number}}&search={{search}}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                                </li>                        
                            {% endif %}
                            {% for i in paginator.page_range %}
                                <li class="page-item {% if h_list_paginate.number == i %}active{% endif %}">
                                    <a class="page-link" href="?page={{ i }}&search={{search}}">{{ i }}</a>
                                </li>                        
                            {% endfor %}
                            {% if h_list_paginate.has_next %}
                                <li class="page-item ">
                                    <a class="page-link" href="?page={{ h_list_paginate.next_page_number }}&search={{search}}">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            {% endif %}  
        <!-- Paginación --> 
        
    </div>

    <div class="mb-0 col-md-12">
        <div class="d-flex justify-content-center mb-2">
            <div class="d-flex justify-content-center mx-0-5--custom">
                <a href="{% url 'visita_visita_main' %}" class="button">Regresar</a>
            </div>  
        </div>                                  
    </div>



    {% block extrajs %}    
    {% endblock extrajs %}    
{% endblock %}