{% extends "estacionamiento/base.html" %}

{% load static %}

{% block head %}
<li class="nav-item">Accesos</li>
{% endblock %}

{% block content %}
<div class="container-fluid text text-center">
  <div class="card">
    <div class="card-title">
      <h3>Accesos</h3>
    </div>
    <div class="card-body">
      <table class="table table-sm table-borderless">
        <thead class="table-light">
          <tr>
            <th>Nombre</th>
            <th>Matricula</th>
            <th>Piso</th>
            <th>Entrada</th>
            <th>Caducidad</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Miguel</td>
            <td>LT-CD-52</td>
            <td>-1</td>
            <td>09/04/22 19:00</td>
            <td>09/04/22 22:00</td>
            <td>
                <div class="container bg-success" style="border-radius: 20px; color: white;">Activo</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}