{% extends "estacionamiento/base.html" %}

{% load static %}

{% block head %}
<li class="nav-item">Estacionamientos</li>
{% endblock %}

{% block content %}
    &nbsp;
    <div class="container">
        <a href="{% url 'estacionamiento_list' %}" class="btn btn-primary">Todos</a>
        <a href="{% url 'estacionamiento_list_vip' %}" class="btn btn-primary">VIP</a>
        <a href="{% url 'estacionamiento_list_colaborador' %}" class="btn btn-primary">Colaboradores</a>
        <a href="{% url 'estacionamiento_list_discapacitado' %}" class="btn btn-primary">Discapacitados</a>
        <a href="{% url 'estacionamiento_list_visita' %}" class="btn btn-primary">Visitas</a>
        <div class="row row-cols-8 row-cols-lg-8 g-2 g-lg-2">
            {% for es in estacionamientos %}
            <div class="col">
                <div class="card" style="font-size: 16px;color: black;">
                    <div class="card-title">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <div class="container-fluid">
                                <div class="collapse navbar-collapse" id="navbarText">
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                        {% if es.tipo == 'VIP' %}
                                            <li class="nav-item"><i class='bx bxs-user-plus bx-md'></i></li>
                                        {% elif es.tipo == 'Discapacitado' %}
                                            <li class="nav-item"><i class='bx bx-handicap bx-md'></i></i></li>
                                        {% elif es.tipo == 'Colaborador' %}
                                            <li class="nav-item"><i class='bx bxs-user-voice bx-md'></i></li>
                                        {% elif es.tipo == 'Visita' %}
                                            <li class="nav-item"><i class='bx bxs-user bx-md'></i></li>
                                        {% else %}
                                            <li class="nav-item"><i class='bx bx-error bx-md'></i></li>
                                        {% endif %} 
                                    </ul>
                                    <span class="navbar-text" ><i class='bx bx-menu bx-md'></i></span>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="card-body">
                        <p>Lugar {{es.lugar}}</p>
                        <p class="text text-center">
                            {% if es.vehiculo == 'Auto' and es.disponibility == 'Ocupado' %}
                                <i class='bx bx-car bx-lg'></i>
                            {% elif es.vehiculo == 'Bicicleta' and es.disponibility == 'Ocupado' %}
                                <i class='bx bx-cycling bx-lg'></i>
                            {% elif es.vehiculo == 'Moto' and es.disponibility == 'Ocupado' %}
                                <i class='bx bxs-baguette bx-lg'></i>
                            {% elif es.disponibility == 'Desocupado'  %}
                                <i class='bx bx-square-rounded bx-lg'></i>
                            {% endif %}
                        </p>
                        <p class="text text-center">
                            {% if es.disponibility == 'Desocupado' %}
                                <a href="{% url 'estacionamiento_select' es.id %}" class="btn btn-success">Reservar</a> 
                            {% else %}
                                <button class="btn btn-danger">Ocupado</button>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!--
    <div class="row row-cols-9">
        <div class="col">Column</div>
        <div class="col">Column</div>
        <div class="col">Column</div>
        <div class="col">Column</div>
        <div class="col" style="background-color: #C4c4c4;"></div>
        <div class="col">Column</div>
        <div class="col">Column</div>
        <div class="col">Column</div>
        <div class="col">Column</div>
      </div>
      <div class="row" style="background-color: #C4c4c4;">&nbsp;</div>
      <div class="row" style="background-color: #C4c4c4;">&nbsp;</div>
      <div class="row row-cols-9">
          <div class="col">Column</div>
          <div class="col">Column</div>
          <div class="col">Column</div>
          <div class="col">Column</div>
          <div class="col" style="background-color: #C4c4c4;"></div>
          <div class="col">Column</div>
          <div class="col">Column</div>
          <div class="col">Column</div>
          <div class="col">Column</div>
        </div>
      </div>-->
{% endblock %}