{% extends "estacionamiento/base.html" %}

{% load static %}

{% block head %}
<li class="nav-item">Seleccionar Estacionamientos</li>  
{% endblock %}

{% block content %}
<br>
<div class="row">
    <div class="mx-auto col-12 col-md-5 offset-md-3">
        <div class="card">
            <div class="card-body">
                
                <form action="" method="post"> {% csrf_token %}
                    {{form.as_p}}
                    <!--
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'estacionamiento_list' %}" class="btn btn-secondary">Volver</a>
                        &nbsp;
                        <button type="submit" class="btn btn-primary">Asignar</button>
                    </div>
                    
                    <hr>
                    <div class="mb-3">
                        <label for="lugar" class="form-label">Lugar</label>
                        <input type="number" readonly class="form-control-plaintext" name="lugar" class="form-control" value=1>
                        <span class="feedback body-small text-regular"></span>
                    </div>
                    <div class="mb-3">
                        <label for="tipo" class="form-label">Tipo</label>
                        <input type="text" readonly class="form-control-plaintext" name="tipo" class="form-control" value=1>
                        <span class="feedback body-small text-regular"></span>
                    </div>
                    <div class="mb-3">
                        <label for="vehiculo" class="form-label">Vehiculo</label>
                        <input type="text" name="Vehiculo" class="form-control" placeholder="Auto/Moto/Bicicleta">
                        <span class="feedback body-small text-regular"></span>
                    </div>
                    <div class="mb-3">
                        <label for="matricula" class="form-label">Matricula</label>
                        <input type="text" name="matricula" class="form-control" placeholder="MESI10">
                        <span class="feedback body-small text-regular"></span>
                    </div>
                    -->
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="d-flex justify-content-center btn btn-block btn-primary">Asignar</button>
                    </div>
                </form>
              
            </div>
        </div>
    </div>
</div>

{% endblock %}