{% extends 'estacionamiento/estacionamiento_menu.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    {% block extra_css %}    
    {% endblock extra_css %}    
    <header class='mb-4'>
        <h2 class='h2 medium text-blue'>Eliminar acceso</h2>
    </header> 
    <div class="col-md-11">
        <div class="mb-3">
            <div class="d-flex flex-column align-items-center align-items-lg-start">
                <form method="post" action="{% url 'acceso_update_save' %}">
                    {% csrf_token %}
                    <div class="col-12 col-lg-12 row row-cols-1 row-cols-md-1 g-2 p-lg-0-5">
                        <h1>Eliminar  Acceso</h1>
                        <div class="mb-0 col-md-12">
                            <label for="category_name" class="form-label">Nombre</label>
                            <input type="text" class="form-control" value="{{acceso_data.nombre}}" name="nombre" id="nombre" placeholder="Nombre" required>
                            <div class="feedback body--small normal"></div>
                        </div>
                        <div class="mb-0 col-md-12">
                            <label for="category_description" class="form-label">Tipo</label>
                            <input type="text" class="form-control" value="{{acceso_data.tipo}}" name="tipo" id="tipo" placeholder="Tipo" required>
                            <div class="feedback body--small normal"></div>
                        </div>
                        <div class="mb-0 col-md-12">
                            <label for="category_description" class="form-label">Matricula</label>
                            <input type="text" class="form-control" value="{{acceso_data.matricula}}" name="matricula" id="matricula" placeholder="Matricula" required>
                            <div class="feedback body--small normal"></div>
                        </div>
                        <div class="mb-0 col-md-12">
                            <label for="category_description" class="form-label">Telefono</label>
                            <input type="number" class="form-control" value="{{acceso_data.telefono}}" name="telefono" id="telefono" placeholder="Telefono" required>
                            <div class="feedback body--small normal"></div>
                        </div>
                        <div class="mb-0 col-md-12">
                            <label for="category_description" class="form-label">Motivo</label>
                            <input type="text" class="form-control"  value="{{acceso_data.motivo}}"name="motivo" id="motivo" placeholder="Motivo" required>
                            <div class="feedback body--small normal"></div>
                        </div>
                        <div class="mb-0 col-md-12">
                            <label for="category_description" class="form-label">Vehiculo</label>
                            <input type="text" class="form-control" value="{{acceso_data.vehiculo}}" name="vehiculo" id="vehiculo" placeholder="Vehiculo" required>
                            <div class="feedback body--small normal"></div>
                        </div>
                        </div class="mb-0 col-md-12">
                            <label for="category_description" class="form-label">Piso</label>
                            <input type="text" class="form-control" value="{{acceso_data.piso}}" name="piso" id="piso" placeholder="Piso" required>
                            <div class="feedback body--small normal"></div>
                        </div>
                        <div class="mb-0 col-md-12">
                            <label for="category_description" class="form-label">Parking</label>
                            <input type="number" value="{{parking_data.lugar}}" class="form-control" name="parking" id="parking" placeholder="parking" required readonly>
                            <div class="feedback body--small normal"></div>
                        </div>
                        <div class="mb-0 col-md-12">
                            <div class="d-flex justify-content-center mb-2">
                                <div class="d-flex justify-content-center mx-0-5--custom">
                                    <button type="submit" class="button">Eliminar</button>
                                    <a href="{% url 'estacionamiento_list' %}">
                            <div class="mb-0 col-md-12">
                                <button type="button" class="button">Regresar</button>
                                <a href="{% url 'home' %}">
                                </div>  
                            </div>                                  
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>                    
    {% block extrajs %}    
    {% endblock extrajs %}    
