{% extends 'estacionamiento/estacionamiento_menu.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    {% block extra_css %}    
    {% endblock extra_css %}    
    <header class='mb-4'>
        <h2 class='h2 medium text-blue'>Añadir Estacionamiento</h2>
    </header>
    {% if messages %}
    <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
    {% endif %}
    <div class="col-md-11">
        <div class="mb-3">
            <div class="d-flex flex-column align-items-center align-items-lg-start">
                <form method="post" action="{% url 'estacionamiento_parking_save' estacionamiento.id %}">
                    {% csrf_token %}
                    <div class="col-12 col-lg-12 row row-cols-1 row-cols-md-1 g-2 p-lg-0-5">
                        <div class="mb-0 col-md-12">
                            <label for="category_name" class="form-label">Estacionamiento ID:</label>
                            <input type="number" class="form-control" name="estacionamiento_id" id="estacionamiento_id" value="{{estacionamiento.id}}" placeholder="Estacionamiento_id" required readonly>
                            <div class="feedback body--small normal"></div>
                        </div>
                        
                        <div class="mb-0 col-md-12">
                            <label for="category_name" class="form-label">Tipo de estacionamiento</label>
                            <select name="tipo" id="tipo" class="form-select" aria-label="Default select example" required>
                                <option disabled="">Seleccione una opcion</option>
                                <option value="VIP">VIP</option>
                                <option value="Colaborador">Colaborador</option>
                                <option value="Discapacitado">Discapacitado</option>
                                <option value="Visita">Visita</option>
                            </select>
                        </div>

                        <div class="mb-0 col-md-12">
                            <div class="d-flex justify-content-center mb-2">
                                <div class="d-flex justify-content-center mx-0-5--custom">
                                    <button type="submit" class="button">Crear</button>
                                </div>
                                <div class="d-flex justify-content-center mx-0-5--custom">
                                    <a href="{% url 'estacionamiento_parking_list_piso' estacionamiento.id %}" class="button">Regresa</a>
                                </div>
                            </div>                                  
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% block extrajs %}    
    {% endblock extrajs %}    
{% endblock %}